<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
{% include 'header.html' %}
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <h1 class="header col s12 red-text">
                OOPS! {{err['status']}}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <h3 class="header col s12 red-text">
                {{err['message']}}
            </h3>
        </div>
    </div>
</div>
</body>
</html>