 
    <div class="modal-content">
      <h4 class="center">Employee Form</h4>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s4">
              <input id="emp_id" type="text" class="validate" value="E">
              <label class="active" for="empid">EmployeeID</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Name" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input placeholder="Surname" id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="empphone" type="tel" class="validate">
              <label for="empphone">Phone</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="empsalary" type="text">
              <label for="empsalary">Salary</label>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
      <a id="addEmpDetails" class="waves-effect waves-green red btn">Add</a>
      <a class="modal-close waves-effect waves-green red btn">Cancel</a>
    </div>

  <!--  <script src="{{ url_for('static',filename='js/scripts.js') }}"></script> -->