 
    <div class="modal-content">
        <h4 class="center">Permit Form</h4>
          <form id="permit_form" class="col s12">
            <div class="row">
              <div class="input-field col s4">
                <input id="ownerid" type="text" class="validate" value="E">
                <label class="active" for="ownerid">EmployeeID</label>
              </div>
              <div class="col s4" style="margin-top: 20px;">
                <a class="waves-effect waves-green red btn" id="ownersearch">Search</a>
              </div>
            </div>
           <div id="permitdetails"> 
            <div class="row">
                <div class="input-field col s8">
                  <input id="ownername" placeholder="" type="text" disabled>
                  <label for="ownername">Owner Name</label>
                </div>
              </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="permitno" type="text" class="validate">
                <label for="permitno">Permit Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="regnr" type="text" class="validate">
                <label for="regnr">Registration No</label>
              </div>
            </div>
        </div>
          </form>
      </div>
      <div class="modal-footer">
        <a id="addPermitDetails" class="modal-close waves-effect waves-green red btn">Add</a>
        <button class="waves-effect waves-green red btn" onclick="clearfields()">Clear</button>
      </div>