
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
  {% include 'header.html' %}

  <!-- Block code for main content -->
  {% block main %} {% endblock %}

  {% include 'footer.html' %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>

  <!--<script src="js/init.js"></script> -->

  </body>
</html>
