{% extends 'main.html' %}

{% block section %}

<div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center red-text"><i class="material-icons">person_add</i></h2>
          <h5 class="center">Step1: Add Employee Details</h5>
          <p class="center light">Add employee details to the system</p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center red-text"><i class="material-icons">time_to_leave</i></h2>
          <h5 class="center">Step2: Add Permit Details</h5>

          <p class="center light">Add Permit details and assign employee
          </p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

{% endblock %}