<!DOCTYPE html>
{% include 'head.html' %}

<body>
    {% include 'header.html' %}

    <div id="documentation"  class="container">
        <div class="col s12">
            <div class="col s12">
                <div class="col s4">
                    <label>
                        Your Progress - {{progress}} %
                    </label>
                </div>
                <div class="col s6 progress">
                    <div class="determinate red darken-1" style="width:{{progress}}%"></div>
                </div>
            </div>
            <div class="col s6">
                {{ MDContent | safe }}
            </div>
            <br>
            <div class="col s12">
                {% if prev_page %}
                
                    <a class="col s4 pull-s2 waves-effect waves-light red lighten-1 btn" href={{link_prev}}>
                        <i class="material-icons left">keyboard_arrow_left</i>Prev: {{prev_page}}
                    </a>
                {% endif %}
                    <a class="col s4 push-s2 waves-effect waves-light red lighten-1 btn right-align" href={{link_next}}><i
                            class="material-icons right">keyboard_arrow_right</i>Next: {{next_page}}</a>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>


</html>