 
    <div class="modal-content">
        <h4 class="center">Edit Employee Form</h4>
          <form id="edit_emp_form" class="col s12">
            <div class="row">
              <div class="input-field col s4">
                <input id="eid" type="text" class="validate" value="E">
                <label class="active" for="eid">EmployeeID</label>
              </div>
              <div class="col s4" style="margin-top: 20px;">
                <a class="waves-effect waves-green red btn" id="employee_search">Search</a>
              </div>
            </div>
           <div id="employeedetails"> 
            <div class="row">
                <div class="input-field col s8">
                  <input id="employee_name" placeholder="" type="text" disabled>
                  <label for="employee_name">Employee Name</label>
                </div>
              </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="employee_number" type="text" class="validate">
                <label for="employee_number">Phone Number</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="employee_salary" type="text" class="validate" disabled>
                <label for="employee_salary">Salary</label>
              </div>
            </div>
        </div>
          </form>
      </div>
      <div class="modal-footer">
        <a id="edit_empDetails" class="modal-close waves-effect waves-green red btn">Edit</a>
        <button class="waves-effect waves-green red btn" onclick="clearEmpFields()">Clear</button>
      </div>