<!DOCTYPE html>
{% include 'head.html' %}
<body>
    {% include 'header.html'%}
    
    <div class="container main-container">
    <div class="row">
        <div class="col s12">
            <h2 class="header red-text center"> Employees </h2>
        </div>
    </div>
    <div id="employee-list">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s9 offset-s1">
                  <input type="text" id="employee-search" class="validate" placeholder="Search Employee by id">
                  <label for="employee-search">Search Employee</label>
                </div>
                <div class="col s2 search-btn">
                    <button id="empsearchbtn" class="btn-small waves-effect waves-light red lighten-1" type="submit" name="action">Search
                        <i class="material-icons right">search</i>
                    </button> 
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s2">
            <div class="col s4 m3">
                <a class="waves-effect waves-light red btn modal-trigger" data-target="addmodal" id="addemployee">
                    <i class="material-icons right">person_add</i>Add Employee</a>
            </div>
            <div class="col s4 m3">
                <a class="waves-effect waves-light red btn disabled" id="removeemployee"><i class="material-icons right">indeterminate_check_box</i>Remove Employee</a>
            </div>
            <div class="col s4 m3">
                <a class="waves-effect waves-light red btn modal-trigger disabled" data-target="editmodal" id="editemployee"><i class="material-icons right">edit</i>Edit Employee</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <table id="emptable" class="highlight centered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Emp Id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Salary</th>
                        <th>Number of Permits</th>
                    </tr>
                  </thead>
                <tbody>
                    <!-- When querying all employees  -->
                    {% if searchEmployee == False %}
                    {% for employee in employees %}
                    <tr>
                        <td>{{employees.index(employee)+1}}</td>
                        <td><a href="/employee/{{employee['empid']}}">{{employee['empid']}}</a></td>
                        <td>{{employee['name']}}</td>
                        <td>{{employee['phone']}}</td>
                        <td>{{employee['salary']}}</td>
                        <td>{{employee['permits'] | length}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- When search is performed for an employee, display the details for the searched employee -->
                        {% if searchEmployee == True and employee is mapping %} 
                        <tr>
                            <td>{{1}}</td>
                            <td><a href="/employee/{{employee['empid']}}">{{employee['empid']}}</a></td>
                            <td>{{employee['name']}}</td>
                            <td>{{employee['phone']}}</td>
                            <td>{{employee['salary']}}</td>
                            <td>{{employee['permits'] | length}}</td>
                        </tr>
                        {% else %}
                        <!-- else display error -->
                        <tr>
                            <td colspan="6">{{employee}}</td>
                        </tr>
                        {% endif %}
                        <!-- end if for employee search -->
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div id="addmodal" class="modal">
    {% include 'addempmodal.html' %}
</div>
<div id="editmodal" class="modal">
    {% include 'editempmodal.html' %}
</div>
<div>
    {%include 'footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>
