{% block footer %}
<footer class="page-footer red">
    <div class="container">
    </div>
    <div class="footer-copyright red">
        <div class="container red">
            <div class="row">
            <div class="col s6 m4">
            Powered by <a class="white-text" href="https://palletsprojects.com/p/flask/">Flask</a> & <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
            <div class="col s6 m4">
                <i class="material-icons left">copyright</i>
            Authors - Dr. Kinh Nguyen and Shaarang Tanpure
            </div>
        </div>
        </div>
    </div>
  </footer>


{% endblock %}