<div class="navbar-fixed">
    <nav class="red" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">CSE2DES</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/documentation">Documentation</a></li>
          <li><a href="/employees">Employees</a></li>
          <li><a href="/permits">Permits</a></li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav">
          <li><a href="/documentation">Documentation</a></li>
          <li><a href="/employees">Employees</a></li>
          <li><a href="/permits">Permits</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</div>
