{% extends 'base.html' %}
{% block main %}

<main class="main-container">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center red-text">CarPark System</h1>
        <div class="row center">
          <h4 class="header col s12 light">A demo system to assign parking permits to the Employees of an organization</h4>
        </div>
        <div class="row center">
          <a href="/documentation" id="download-button" class="btn-large waves-effect waves-light red lighten-1">Get Started</a>
        </div>
        <br><br>
  
      </div>
    </div>
  
  
    <div class="container">
      {% block section %}{% endblock %}
    </div>
  </main>

  {% endblock %}