<!DOCTYPE html>
{% include 'head.html' %}
<body>
    {% include 'header.html'%}
    
    <div class="container main-container">
    <div class="row">
        <div class="col s12">
            <h2 class="header red-text center"> Permits </h2>
        </div>
    </div>
    <div id="employee-list">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s9 offset-s1">
                  <input type="text" id="permit-search" class="validate" placeholder="Search Permit by pno">
                  <label for="permit-search">Search Permits</label>
                </div>
                <div class="col s2 search-btn">
                    <button id="permitsearchbtn" class="btn-small waves-effect waves-light red lighten-1" type="submit" onclick="permitSearch()">Search
                        <i class="material-icons right">search</i>
                    </button>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s2">
            <div class="col s6 m6">
                <a id="addpermit" class="waves-effect waves-light red btn modal-trigger" data-target="addpermitmodal"><i class="material-icons right">person_add</i>Add Permit</a>
            </div>
            <div class="col s6 m6">
                <a id="removepermit" class="waves-effect waves-light red btn disabled"><i class="material-icons right">indeterminate_check_box</i>Remove Permit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            <table id="permitTable" class="highlight centered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Permit No</th>
                        <th>Reg. No</th>
                        <th>Owner Id</th>
                        <th>Owner Name</th>
                    </tr>
                  </thead>
                <tbody>
                    <!-- When querying all permits  -->
                    {% for permit in permits %}
                    <tr>
                        <td>{{permits.index(permit)+1}}</td>
                        <td><a href="/permit/{{permit['pno']}}">{{permit['pno']}}</a></td>
                        <td>{{permit['regNr']}}</td>
                        <td>{{permit['empid']}}</td>
                        <td>{{permit['owner_name']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="addpermitmodal" class="modal">
    {% include 'addpermitmodal.html' %}
</div>
</div>
{%include 'footer.html' %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>
