<!DOCTYPE html>
{% include 'head.html' %}

<body>
    {% include 'header.html'%}
    <div class="container main-container">
        <div class="row">
            <div class="col s12">
                <h2 class="header red-text center">  </h2>
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card medium">
                        <div class="card-content black-text">
                        <div class="row offset-s4 m4">
                          <!-- collapsible -->
                              <ul class="collapsible expandable">
                                <!-- collapsible for Employee details -->
                                <li class="active">
                                  <div class="collapsible-header blue-grey lighten-5"><i class="small material-icons prefix">confirmation_number</i> Permit Details</div>
                                  <div class="collapsible-body">
                                    <ul class="collection">
                                        <li class="collection-item">
                                            <i class="tiny material-icons">confirmation_number</i>   Permit No : {{permit['pno']}}
                                          </li>
                                        <li class="collection-item">
                                          <i class="tiny material-icons">directions_car</i> Car Reg Nr : {{permit['regNr']}}
                                        </li>
                                        <li class="collection-item">
                                          <i class="tiny material-icons">person_pin</i>  Owner Id : {{permit['empid']}}
                                        </li>
                                        <li class="collection-item">
                                          <i class="tiny material-icons">assignment_ind</i>   Owner Name : {{permit['owner_name']}}
                                        </li>
                                        <li class="collection-item"></li>
                                      </ul>
                                  </div>
                                </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {%include 'footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>