* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
   }


.icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

  .main-container{
    min-height: 100vh; /* will cover the 100% of viewport */
     overflow: hidden;
     display: block;
     position: relative;
     padding-bottom: 100px; /* height of your footer */
    }

main{
    margin-top: 2%;
}

footer{
    position: absolute;
    bottom: 2;
    width: 100%;
}

.search-btn{
margin-top: 22px;
}


table{
    font-size: larger;
}

label{
    font-size: medium;
}
#employee-list, #emptable, #permitTable{
    margin-top: 5%;
    margin-bottom: 20%; 
}

#documentation{
    padding: 3%;
}

.right-align{
    left: 80%;
}
